automated_usage_lighting.txt
[{"id":"fbee9638.37cc38","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"178c5f52.144e41","type":"function","z":"fbee9638.37cc38","name":"change to bool","func":"msg.payload = msg.payload.motion;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":160,"wires":[["2a1fe8e5.150a48"]]},{"id":"6c373885.487ff8","type":"function","z":"fbee9638.37cc38","name":"switch t/f","func":"if(msg.payload === true){\n        msg.payload= false;\n    }\nelse {\n    msg.payload= true;}\nreturn msg;\n","outputs":1,"noerr":0,"x":740,"y":660,"wires":[["cd706941.f1d048"]]},{"id":"6538266.cdc31d8","type":"hue-light","z":"fbee9638.37cc38","name":"Hue bloom 1","bridge":"6e802473.87b63c","lightid":"5","colornamer":true,"x":1090,"y":660,"wires":[[]]},{"id":"766c43c5.dcaa7c","type":"hue-light","z":"fbee9638.37cc38","name":"Lounge","bridge":"6e802473.87b63c","lightid":"3","colornamer":true,"x":960,"y":560,"wires":[[]]},{"id":"cd706941.f1d048","type":"function","z":"fbee9638.37cc38","name":"default","func":"if (msg.payload === true){\n    msg.payload={\n\t\t\t\"rgb\": [0,255,0]\n\t\t}}\nelse{\n    msg.payload={\n\t\t\t\"rgb\": [255,255,255]\n\t\t}\n}\n\t\t\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":660,"wires":[["6538266.cdc31d8"]]},{"id":"992cf92.3901d08","type":"hue-motion","z":"fbee9638.37cc38","name":"Dan Office sensor","bridge":"6e802473.87b63c","sensorid":"6","x":470,"y":160,"wires":[["178c5f52.144e41"]]},{"id":"4fc95c1d.06d264","type":"inject","z":"fbee9638.37cc38","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":160,"wires":[["992cf92.3901d08"]]},{"id":"c84116ee.d76818","type":"function","z":"fbee9638.37cc38","name":"default2","func":"if (msg.payload === true){\n    msg.payload={\n            \"on\": true,\n\t\t\t\"rgb\": [255,255,255]\n\t\t}\n}\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":600,"wires":[["766c43c5.dcaa7c"]]},{"id":"3ffd9b50.790a14","type":"switch","z":"fbee9638.37cc38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":540,"wires":[["c84116ee.d76818","6c373885.487ff8","809b906a.c1c02"],["c84116ee.d76818","6c373885.487ff8"]]},{"id":"5fe70f28.d5ec1","type":"http request","z":"fbee9638.37cc38","name":"get website content","method":"GET","ret":"txt","url":"http://www.dustyfeet.com/","tls":"","x":290,"y":740,"wires":[["c62c6c5e.ce33d"]]},{"id":"c62c6c5e.ce33d","type":"function","z":"fbee9638.37cc38","name":"Check if string is in webpage","func":"string = \"\" //change to anything\nif(msg.payload.includes(string)){\n    msg.payload = true\n}\nelse{\n    msg.payload = false\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":640,"wires":[["3ffd9b50.790a14"]]},{"id":"809b906a.c1c02","type":"exec","z":"fbee9638.37cc38","command":"python /home/pi/lights.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":1210,"y":540,"wires":[["33157378.d4c57c","603ebbfe.1406c4"],[],[]]},{"id":"9256cf9c.8de1c","type":"function","z":"fbee9638.37cc38","name":"Adjust","func":"low = 500 //can change\nhigh = 600 //can change\n\nif (typeof msg.payload[1] === \"string\"){\n    index = msg.payload[1].indexOf(\"\\n\")\n    light = Number(msg.payload[1].slice(0,index))\n    if (light <= low){\n        msg.payload = {\"brightness\": Math.min(msg.payload[0].brightness+5, 100)}\n    }\n    else if (light >= high){\n        msg.payload = {\"brightness\": Math.max(0,msg.payload[0].brightness-5)}\n    }\n}\nelse{\n    index = msg.payload[0].indexOf(\"\\n\")\n    light = Number(msg.payload[0].slice(0,index))\n    if (light <= low){\n        msg.payload = {\"brightness\": Math.min(100,msg.payload[1].brightness+5)}\n    }\n    else if (light >= high){\n        msg.payload = {\"brightness\": Math.max(0,msg.payload[1].brightness-5)}\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":660,"wires":[["f0bf0645.2e5a98"]]},{"id":"f0bf0645.2e5a98","type":"hue-light","z":"fbee9638.37cc38","name":"Lab","bridge":"b9d6d1cf.25114","lightid":"1","colornamer":true,"x":1710,"y":660,"wires":[[]]},{"id":"603ebbfe.1406c4","type":"hue-light","z":"fbee9638.37cc38","name":"Lab","bridge":"b9d6d1cf.25114","lightid":"1","colornamer":true,"x":1450,"y":540,"wires":[["33157378.d4c57c"]]},{"id":"33157378.d4c57c","type":"join","z":"fbee9638.37cc38","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1410,"y":660,"wires":[["9256cf9c.8de1c"]]},{"id":"7b83070c.9f6768","type":"function","z":"fbee9638.37cc38","name":"default2","func":"if (msg.payload === true){\n    msg.payload={\n            \"on\": true,\n\t\t\t\"rgb\": [255,255,255]\n\t\t}\n}\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":160,"wires":[["8bb5453b.c6ca58"]]},{"id":"7f1f7c31.3cb434","type":"function","z":"fbee9638.37cc38","name":"switch t/f","func":"if(msg.payload === true){\n        msg.payload= false;\n    }\nelse {\n    msg.payload= true;}\nreturn msg;\n","outputs":1,"noerr":0,"x":780,"y":260,"wires":[["85e4e500.728c68"]]},{"id":"8a2c5528.ef88f8","type":"hue-light","z":"fbee9638.37cc38","name":"Hue bloom 1","bridge":"6e802473.87b63c","lightid":"5","colornamer":true,"x":1130,"y":260,"wires":[[]]},{"id":"85e4e500.728c68","type":"function","z":"fbee9638.37cc38","name":"default","func":"if (msg.payload === true){\n    msg.payload={\n\t\t\t\"rgb\": [0,255,0]\n\t\t}}\nelse{\n    msg.payload={\n\t\t\t\"rgb\": [255,255,255]\n\t\t}\n}\n\t\t\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":260,"wires":[["8a2c5528.ef88f8"]]},{"id":"2a1fe8e5.150a48","type":"switch","z":"fbee9638.37cc38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":240,"wires":[["7b83070c.9f6768","5b8900c6.5b3a2","7f1f7c31.3cb434"],["7f1f7c31.3cb434"]]},{"id":"8bb5453b.c6ca58","type":"hue-light","z":"fbee9638.37cc38","name":"Lounge","bridge":"6e802473.87b63c","lightid":"3","colornamer":true,"x":1120,"y":160,"wires":[[]]},{"id":"5b8900c6.5b3a2","type":"function","z":"fbee9638.37cc38","name":"deactivate motion sensor","func":"msg.payload = false\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["83e89ef8.bd579"]]},{"id":"83e89ef8.bd579","type":"hue-motion","z":"fbee9638.37cc38","name":"Dan Office sensor","bridge":"6e802473.87b63c","sensorid":"6","x":250,"y":460,"wires":[["b44d7618.99f408"]]},{"id":"b44d7618.99f408","type":"trigger","z":"fbee9638.37cc38","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"-1","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":130,"y":540,"wires":[["5fe70f28.d5ec1"]]},{"id":"6e802473.87b63c","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.86.34","key":"eV7Xfh-TQmBMdwvWR0rIoAYp1FcFwDSyNsU7bmBS","interval":"3000"},{"id":"b9d6d1cf.25114","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.86.34","key":"GGKoMPvUdCRcHgn-DgMoeXe2ys13XiC5ZUmusZsm","interval":"3000"}]

