simple_ui.txt
[{"id":"81245041.8b9f3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f6c08e0c.ce59b","type":"ui_switch","z":"81245041.8b9f3","name":"","label":"On/Off","group":"b97bf1b8.08dd8","order":0,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":410,"y":180,"wires":[["2313d42e.27e5ec"]]},{"id":"933a65e.7a3b298","type":"inject","z":"81245041.8b9f3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["f6c08e0c.ce59b","c41d2c39.eaa4a","1bafd661.977b9a"]]},{"id":"baefcec9.d1c4d","type":"hue-light","z":"81245041.8b9f3","name":"Lab","bridge":"85a65bb9.fe7a48","lightid":"1","colornamer":true,"x":530,"y":300,"wires":[["6cc28347.4c935c"]]},{"id":"6cc28347.4c935c","type":"debug","z":"81245041.8b9f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":240,"wires":[]},{"id":"c41d2c39.eaa4a","type":"ui_slider","z":"81245041.8b9f3","name":"Bri","label":"Brightness","group":"b97bf1b8.08dd8","order":0,"width":0,"height":0,"passthru":true,"topic":"bri","min":0,"max":"100","step":1,"x":310,"y":260,"wires":[["2313d42e.27e5ec"]]},{"id":"1bafd661.977b9a","type":"ui_colour_picker","z":"81245041.8b9f3","name":"","label":"","group":"b97bf1b8.08dd8","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"color","x":260,"y":340,"wires":[["2313d42e.27e5ec","5c27a692.f62de8"]]},{"id":"2313d42e.27e5ec","type":"function","z":"81245041.8b9f3","name":"join","func":"if(msg.topic === \"bri\"){\nmsg.payload={\n\t\t\t\"brightness\": msg.payload\n\t\t}}\nif(msg.topic === \"color\"){\nmsg.payload={\n\t\t\t\"hex\": msg.payload\n\t\t}}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":380,"wires":[["baefcec9.d1c4d","6bf348a0.f39fb8"]]},{"id":"6bf348a0.f39fb8","type":"debug","z":"81245041.8b9f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":380,"wires":[]},{"id":"5c27a692.f62de8","type":"debug","z":"81245041.8b9f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":500,"wires":[]},{"id":"b97bf1b8.08dd8","type":"ui_group","z":"","name":"Default","tab":"3328fd37.1256b2","disp":true,"width":"6","collapse":false},{"id":"85a65bb9.fe7a48","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.86.37","key":"J4eiUSk1BadaoNVSY7KmaPz66PEEef6v1jDOALq7","interval":"3000"},{"id":"3328fd37.1256b2","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]