uniform_lighting.txt
[{"id":"25519d28.8b4362","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"26459177.b55bfe","type":"exec","z":"25519d28.8b4362","command":"python /home/pi/lights.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":410,"y":180,"wires":[["8f0f98c7.b484b8","9693e423.a288f8"],[],[]]},{"id":"5b87c24.fa5623c","type":"inject","z":"25519d28.8b4362","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["26459177.b55bfe"]]},{"id":"31149282.a0e76e","type":"function","z":"25519d28.8b4362","name":"Adjust","func":"low = 500 //can change\nhigh = 600 //can change\n\nif (typeof msg.payload[1] === \"string\"){\n    index = msg.payload[1].indexOf(\"\\n\")\n    light = Number(msg.payload[1].slice(0,index))\n    if (light <= low){\n        msg.payload = {\"brightness\": Math.min(msg.payload[0].brightness+5, 100)}\n    }\n    else if (light >= high){\n        msg.payload = {\"brightness\": Math.max(0,msg.payload[0].brightness-5)}\n    }\n}\nelse{\n    index = msg.payload[0].indexOf(\"\\n\")\n    light = Number(msg.payload[0].slice(0,index))\n    if (light <= low){\n        msg.payload = {\"brightness\": Math.min(100,msg.payload[1].brightness+5)}\n    }\n    else if (light >= high){\n        msg.payload = {\"brightness\": Math.max(0,msg.payload[1].brightness-5)}\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":300,"wires":[["9baa6d0d.3cfea"]]},{"id":"9baa6d0d.3cfea","type":"hue-light","z":"25519d28.8b4362","name":"Lab","bridge":"b9d6d1cf.25114","lightid":"1","colornamer":true,"x":910,"y":300,"wires":[[]]},{"id":"9693e423.a288f8","type":"hue-light","z":"25519d28.8b4362","name":"Lab","bridge":"b9d6d1cf.25114","lightid":"1","colornamer":true,"x":650,"y":180,"wires":[["8f0f98c7.b484b8"]]},{"id":"8f0f98c7.b484b8","type":"join","z":"25519d28.8b4362","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":300,"wires":[["31149282.a0e76e"]]},{"id":"b9d6d1cf.25114","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.86.39","key":"GGKoMPvUdCRcHgn-DgMoeXe2ys13XiC5ZUmusZsm","interval":"3000"}]